@import "./colors.css";
@import "./theme-overrides.css";

* {
	font-family: "Caskaydia Cove Nerd Font Mono";
	font-weight: bold;
	min-height: 0;
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    border: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    background-color: @surface;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}



#custom-daemon,
#custom-window1,
#custom-window2,
#custom-window3,
#custom-window4,
#custom-window5,
#custom-window6,
#custom-window7,
#custom-window8,
#custom-window9,
#custom-window10,
#custom-button-term,
#custom-button-files,
#custom-button-next,
#custom-button-prev,
#custom-button-zoomin,
#custom-button-zoomout,
#custom-button-fit {
    background-color: @surface_container;
    color: @primary;
    border: 0px;
    border-style: solid;
    border-color: white;
    border-radius: var(--theme-radius, 10px);
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;

}


